name: compile-sketches

on:
  - push
  - pull_request

jobs:
  compile-sketch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Compile sketch
        uses: arduino/compile-sketches@v1
        with:
          fqbn: "arduino:avr:uno"
          libraries: |
            - name: StreamDebugger
          sketch-paths: |
            - examples